b {
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

A {
    font-family: cursive;
    color: red;
}

body {
    background-color: black;
}

e {
    color: red;
    font-family: sans-serif;
    text-align: right;
}